
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Vollkorn&display=swap');

$body-font-family: Lato;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;
$link-color:darken(#96B3D9, 20);
$sidebar-color: lighten(#7EBFB3, 25);
$body-background-color: #F2F2F2;
$blue-100: #0B2624;
$content-width: 1000px;
